@charset "utf-8";
/* CSS Document */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
